@import 'gameCard.scss';
@import 'auth.scss';
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #0c0d21 !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$theme-colors: (
  "primary":    #0c0d21,
  "success":    #5cb85c,
  "info":       #5bc0de,
  "warning":    #f0ad4e,
  "danger":     #d9534f,
  "light":      #333646,
  "dark":       #090a1c
);


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #090a1c !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

.form-control:focus {
  color: #212529;
  background-color: #090a1c;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  clip-path: inset(-5px 0px -5px -5px);
}

@import 'bootstrap/scss/bootstrap.scss';
html{
  background-color: #0c0d21;
}
main{
    margin-left: auto;
    min-height: calc(100vh - 5rem);
    margin-top: 5rem;
    border-top: 4px solid red;
    @media (min-width: 992px) {
      padding-left: 20rem;
      margin-left: auto;
    }
}

.profile{
  width: 100%;
  @media (min-width:992px) {
    width: calc(100vw - 20rem);
  }
}
ul{
  padding-inline-start: 0;
}
.Home_container{
    padding: 0;
}

.gameList{
  height: fit-content !important;
  .gameCard:nth-child(n+9){
    display: none;
  }
  &.open{
    .gameCard:nth-child(n+4){
      display: unset;
    } 
  }
}
.fit-content{
  width: fit-content;
}
.cursor-pointer{
  cursor: pointer;
  &:hover{
    opacity: 75%;
  }
}
.backButton{
  transition: 0.075s ease all;
  &:hover{
    stroke: white;
    transition: 0.075s ease all;
  }
}
.detailsGame{
  div.backButton{
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.38);

    p{
      width: fit-content;
    }
  }
  .detailsGameBg{
    max-width: 100%;
    min-width: 100%;
      img{
        max-width: 100%;
        opacity: 75%;
        width: 100%;
        @media (min-width:992px) {
          width: calc(100vw - 20rem);
        }
      }
  }
}
.galery{
  li{
    img{
      height: 100%;
      width: 100%;
    }
  }
}
.navbar{
  height: 5rem;
  form{
    button{
      z-index: 1000;
      position: relative;
    }
  }
  div{
    div{
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    padding-left: 20rem;
    margin-left: auto;
    div{
      div{
        width: unset;
      }
    }
  }
}
.hide{
  opacity: 0;
}
.navSearchField{
    width: auto;

  &:focus{
    input {
      border: 1px solid;
      color: #212529;
      background-color: #090a1c;
      border-color: #0026ff;
      outline: 0;
      box-shadow: 0 0 5px #0026ff;
      clip-path: inset(-5px 0px -5px -5px);
      
    }
  }
  @media (min-width:992px) {
    width: 25vw;
  }
}
.dropdownButton{
  transform: rotate(0deg);
  transition: 0.125s ease all;
  &.rotate{
    transform: rotate(180deg);
    transition: 0.125s ease all;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #090a1c;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
.searchResultsList{
position: fixed;
top: 5rem;
max-width: 80%;
box-shadow: 0px 9px 10px 0px white;
z-index: 2;
@media (min-width: 500px) {
  max-width: 100%; 
  }
a{
  img{
    margin-left: 1rem;
    width: 50px;
    @media (min-width: 500px) {
    width: 120px;
      
    }
  }
}
}
.test{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: none;
}
.navbar-toggler{
  z-index: 9000;
  position: relative;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    @media (min-width: 992px) {
      width: 20rem;
    }
    z-index: 1300;
    background-color: #090a1c;
}
.ratings{
    small{
      color: white;
    }
    li:nth-child(2) h3{         
      color: #81c43b;
    }
    li:nth-child(3) h3{         
      color: #4e6dd1;
    }
    li:nth-child(4) h3{         
      color: #f99d3b;
    }
    li:nth-child(5) h3{         
      color: #f83847;
    }

}
@media (max-width: 600px) {
        .grid {
          width: 100%;
          flex-direction: column;
        }
}
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.modal {
        background-color: rgba(0, 0, 0, 0.622);
        z-index: 2000;    
        .modal-content{
              height: fit-content;
              background-color: unset;
              img{
                max-width: auto;
              }
            }
}